@import model.Conference
@(query: String, searchResults: Seq[Conference])(webJarAssets: WebJarAssets)

@apiKeyParam = @{Option((System.getenv("GOOGLE_MAPS_API_KEY"))).map(key => s"?key=$key").getOrElse("")}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@query Scala Events</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bulma.css"))'>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js@apiKeyParam"></script>
    </head>
    <body>

        <div id="container" class="container">

            <div id="event-listings">
                @eventsTable(searchResults)
            </div>

        </div>

        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
        <script type="application/javascript">
            App.main()
        </script>
    </body>
</html>
